.container{
	width: 1000px;
	height: 2000px;
	margin: 30px auto;
	/*background-color: pink;*/
}
/*模块1和模块2的样式*/
.content{
	height: 380px;
	border-top: 1px solid silver;
	/*background: silver;*/
}
.content .contentTitle{
	height: 70px;
}
.content .contentTitle .contentTitle-left{
	width: 100px;
	font-size: 16px;
	float: left;
	line-height: 70px;
}
.content .contentTitle .contentTitle-right{
	width: 100px;
	float: right;
	line-height: 70px;
}
.content .photo{
	height: 250px;
	/*background: pink;*/
}
.content .photo .photoList,.content .photo .lastPhoto{
	width: 230px;
	height: 250px;
	/*background-color: #777777;*/
	float: left;
	border:1px solid silver;
	background-color: #FFFFFF;
}
.content .photo .photoList{
	margin-right: 24px;
}
.content .photo img{
	width: 230px;
	height: 170px;
}
.content .photo p{
	margin-top: 15px;
	font-size: 14px;
	text-align: center;
}
.content .photo span{
	float: right;
	font-size: 12px;
	line-height: 40px;
	color: #777777;
}
.content .photo img:hover{
	opacity: 0.9;
}
.content  a:hover{
	color: #167F39;
}
/*模块3图片库样式*/
.contentGallery{
	height: 1200px;
	background-color: #F2F1EF;
	border-top: 1px solid silver;
}
.contentGallery img:hover{
	opacity: 0.9;
}
.contentGallery a:hover{
	color: #167F39;
}
.contentGallery .contentGalleryTitle{
	height: 70px;
	line-height: 70px;
}
.contentGallery .galleryList1,.galleryList2,.galleryList3{
	width: 232px;
	height: 1130px;
	/*border:1px solid silver;*/
	margin-right: 22px;
	float: left;
}
.contentGallery .galleryList4{
	width: 232px;
	height: 1130px;
	/*border:1px solid silver;*/
	float: right;
}
.galleryStyle1,.galleryStyle2{
	width: 230px;
	height: 430px;
	border: 1px solid silver;
	background-color: #FFFFFF;
	float: left;
}
.galleryStyle1 img,.galleryStyle2 img{
	width: 230px;
	height: 400px;
}
.galleryStyle1 p,.galleryStyle2 p{
	margin-top: 5px;
	font-size: 14px;
	text-align: center;
}
.galleryStyle2{
	margin-top: 10px;
}
.galleryStyle3,.galleryStyle4{
	width: 230px;
	height: 200px;
	float: left;
	background-color: #FFFFFF;
	border:1px solid silver;
}
.galleryStyle3 img,.galleryStyle4 img{
	width: 230px;
	height: 170px;
}
.galleryStyle3 p,.galleryStyle4 p{
	margin-top: 5px;
	font-size: 14px;
	text-align: center;
}
.galleryStyle3{
	margin-top: 10px;
}
.galleryNav{
	width: 120px;
	height: 40px;
	margin: 0 auto;
	color: #FFFFFF;
	line-height: 40px;
	text-align: center;
	background-color: #24241F;
	cursor: pointer;
}
.galleryNav:hover{
	color: #167F39;
}
